<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VSTO.Properties.Settings>
            <setting name="AttemptsAmount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExtendedPropertyName_GoogleIDInOutlookItem" serializeAs="String">
                <value>GoogleItemID</value>
            </setting>
            <setting name="Registry_Key_Autorun" serializeAs="String">
                <value>Software\Microsoft\Windows\CurrentVersion\RunOnce</value>
            </setting>
            <setting name="ApplicationRegistryKey" serializeAs="String">
                <value>Software\Rasoft\GoogleOutlookSyncAddIn</value>
            </setting>
            <setting name="CalendarSettings_CalendarName" serializeAs="String">
                <value>CalendarName</value>
            </setting>
            <setting name="CalendarSettings_RangeBefore" serializeAs="String">
                <value>CalendarDaysBefore</value>
            </setting>
            <setting name="CalendarSettings_RangeAfter" serializeAs="String">
                <value>CalendarDaysAfter</value>
            </setting>
            <setting name="Privacy" serializeAs="String">
                <value>Privacy</value>
            </setting>
            <setting name="RegistryKey_OutlookFolderID" serializeAs="String">
                <value>OutlookFolderID</value>
            </setting>
            <setting name="RegistryKey_SyncInterval" serializeAs="String">
                <value>SynchronizationInterval</value>
            </setting>
            <setting name="RegistryKey_GoogleColorID" serializeAs="String">
                <value>GoogleColorID</value>
            </setting>
            <setting name="RegistryKey_OutlookCategoryName" serializeAs="String">
                <value>OutlookCategoryName</value>
            </setting>
            <setting name="RegistryKey_GoogleAccount" serializeAs="String">
                <value>GoogleAccount</value>
            </setting>
        </VSTO.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VSTO.Properties.Settings>
            <setting name="GoogleAPI_ClientID" serializeAs="String">
                <value>626714144907-rl6a257nriprt840547j39t45t9qmafj.apps.googleusercontent.com</value>
            </setting>
            <setting name="GoogleAPI_ClientSecret" serializeAs="String">
                <value>mmS0N0blRMFMKilskIE7SJa0</value>
            </setting>
        </VSTO.Properties.Settings>
    </applicationSettings>
</configuration>